<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/header.ejs', {Document: "admin" }) %>
        <link rel="stylesheet" href="/style/dashboard.css">
        <link rel="stylesheet" href="/style/admin.css">
</head>

<body>
    <%- include('./common/navbar.ejs') %>

        <section class="pricing-section">
            <div class="container">
                <div id="appendDiv" class="row">
                    <% for( let i=0; i < users.length; i++ ) { %>
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 my-2 <%= users[i]._id %>">
                            <div class="price-card featured<% if (users[i].role === 'admin') { %>
                                    admin
                                <% } %>">
                                <h2>
                                    <%= users[i].role %>
                                </h2>
                                <p class="text-success ">
                                    <span class="text-muted">Username:</span>
                                    <%= users[i].username %>
                                </p>
                                <ul class="pricing-offers ">
                                    <li class="text-success">
                                        <span class="text-muted">First Name:</span>
                                        <%= users[i].firstName %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Last Name:</span>
                                        <%= users[i].lastName %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Email:</span>
                                        <%= users[i].email %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Phone:</span>
                                        <%= users[i].phone %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Gender:</span>
                                        <%= users[i].gender %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Status:</span>
                                        <%= users[i].status %>
                                    </li>
                                    <li class="col-12 ">
                                        <button class="col-12 button-37 resetPass" userId="<%= users[i]._id %>">Reset
                                            Password</button>
                                    </li>
                                    <li class="col-12 ">
                                        <button class="col-12 button-37 deleteUser" userId="<%= users[i]._id %>">Remove
                                            User</button>
                                    </li>
                                    <li class="col-12 ">
                                        <button class="col-12 button-37 removeComment" userId="<%= users[i]._id %>">Remove
                                            User`s Comment</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        
                </div>
            </div>

            <div class="p-5 m-5">
                <a class="col-1  d-none justify-self-center button-37" id="backToUsers" href="http://localhost:3000/admin" >Back</a>
            </div>
           
        </section>
        <button class="col-3 button-37 " id="deleArticleAdmin">Remove Article</button>


        
        <div class="border-container  pillar-container">
            <ul class="card-list row justify-content-center" id="list">
  
            </ul>
          </div>
  
          <section class="pagination" cl aria-label="Page navigation example ">
            <ul class="pagination justify-content-center " id="pagination">
  
            </ul>
          </section>
  



        <div class="toast" style="position: absolute; top: 20px; right: 20px;">
            <div class="toast-header">
                <strong class="mr-auto">Message</strong>
                <button id="toastBtn" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">

            </div>
        </div>

        <%- include('./common/scripts.ejs') %>
            <script src="/script/admin.js"></script>
</body>

</html>