<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/header.ejs', {Document: "admin" }) %>
        <link rel="stylesheet" href="/style/dashboard.css">
        <link rel="stylesheet" href="/style/admin.css">
</head>

<body>
    <%- include('./common/navbar.ejs') %>
        <section class="pricing-section">
            <div class="container">
                <div id="appendDiv" class="row">
                    <% for( let i=0; i < users.length; i++ ) { %>
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 my-2 <%= users[i]._id %>">
                            <div class="price-card featured<% if (users[i].role === 'admin') { %>
                                    admin
                                <% } %>">
                                <h2>
                                    <%= users[i].role %>
                                </h2>
                                <p class="text-success ">
                                    <span class="text-muted">Username:</span>
                                    <%= users[i].username %>
                                </p>
                                <ul class="pricing-offers ">
                                    <li class="text-success">
                                        <span class="text-muted">First Name:</span>
                                        <%= users[i].firstName %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Last Name:</span>
                                        <%= users[i].lastName %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Email:</span>
                                        <%= users[i].email %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Phone:</span>
                                        <%= users[i].phone %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Gender:</span>
                                        <%= users[i].gender %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Status:</span>
                                        <%= users[i].status %>
                                    </li>
                                    <li class="col-12 ">
                                        <button class="col-12 button-37 resetPass" userId="<%= users[i]._id %>">Reset
                                            Password</button>
                                    </li>
                                    <li class="col-12 ">
                                        <button class="col-12 button-37 deleteUser" userId="<%= users[i]._id %>">Remove
                                            User</button>
                                    </li>
                                    <li class="col-12 ">
                                        <button class="col-12 button-37" data-toggle="modal" data-target="#form" userId="<%= users[i]._id %>">Remove
                                            User`s Article</button>
                                    </li>
                                    <li class="col-12 ">
                                        <button class="col-12 button-37 removeComment" id="" userId="<%= users[i]._id %>">Remove
                                            User`s Comment</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        
                </div>
            </div>
            <a class="col-1 button-37 d-none" id="backToUsers" href="http://localhost:3000/admin" >Back</a>
        </section>


        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content py-md-5 px-md-4 p-sm-3 p-4">
                    <h1 class="text-center mb-5">Plaese Enter Article ID</h1>
                    <input id="articleID" type="text" class="form-control mb-3" placeholder="">
                    <div class="text-center mb-3"> <button class="btn btn-primary w-50 rounded-pill b1 button-37" id="deleArticleAdmin">Remove</button> </div>
                </div>
            </div>
        </div>



        <div class="toast" style="position: absolute; top: 20px; right: 20px;">
            <div class="toast-header">
                <strong class="mr-auto">Message</strong>
                <button id="toastBtn" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">

            </div>
        </div>

        <%- include('./common/scripts.ejs') %>
            <script src="/script/admin.js"></script>
</body>

</html>