<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/header.ejs', {Document: "admin" }) %>
        <link rel="stylesheet" href="/style/dashboard.css">
        <link rel="stylesheet" href="/style/admin.css">
</head>

<body>
    <%- include('./common/navbar.ejs') %>
        <section class="pricing-section">
            <div class="container">
                <div id="appendDiv" class="row">
                    <% for( let i=0; i < users.length; i++ ) { %>
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 my-2">
                            <div class="price-card featured<% if (users[i].role === 'admin') { %>
                                    admin
                                <% } %>">
                                <h2>
                                    <%= users[i].role %>
                                </h2>
                                <p class="text-success ">
                                    <span class="text-muted">Username:</span>  <%= users[i].username %>
                                </p>
                                <ul class="pricing-offers ">
                                    <li class="text-success">
                                        <span class="text-muted">First Name:</span>  <%= users[i].firstName %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Last Name:</span>  <%= users[i].lastName %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Email:</span>  <%= users[i].email %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Phone:</span>  <%= users[i].phone %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Gender:</span>  <%= users[i].gender %>
                                    </li>
                                    <li class="text-success ">
                                        <span class="text-muted">Status:</span>  <%= users[i].status %>
                                    </li>
                                    <li class="col-12 ">
                                        <button id="resetPass" class="col-12 button-37 ">reset password</button>
                                    </li>
                                </ul>
                                <!-- <a href="#" class="btn btn-primary btn-mid">Buy Now</a> -->
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </section>
        <%- include('./common/scripts.ejs') %>
            <script src="/script/admin.js"></script>
</body>

</html>