<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/header.ejs', {Document: "dashboard" }) %>
        <link rel="stylesheet" href="/style/dashboard.css">
</head>

<body>
    <%- include('./common/navbar.ejs') %>
        <div class="container emp-profile">
            <section>
                <div class="row cont">
                    <div class="col-md-4">
                        <form action="/dashboard" enctype="multipart/form-data" method="post">
                            <div class="profile-img">
                                <img id="" src=" /images/avatars/<%= data.avatar %>" alt="profile photo" class="img-responsive" />
                                <div class="file btn btn-lg btn-primary">
                                    Change Photo
                                    <input type="file" name="avatar" />
                                    <br>
                                    <input class="avatarbtn col-12" type="submit" value="APPLY" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5 id="fullName">
                                <%= data.firstName %>
                                    <%= data.lastName %>
                            </h5>
                            <h6>
                                KNOWN AS: <%= data.username %>
                            </h6>
                            <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                        aria-controls="home" aria-selected="true">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <btn id="editProfile" type="submit" class="profile-edit-btn col-12 text-center"
                            name="btnAddMore">
                            Edit Profile
                        </btn>
                        <a href="/auth/logout" id class="profile-edit-btn col-12 text-center">Logout
                        </a>
                        <btn id="removeAccount" type="button" class="profile-edit-btn   col-12 text-center"
                            data-toggle="modal" data-target="#exampleModalCenter">
                            Remove Account
                        </btn>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Remove Account</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        please tell us why you wanna remove your account
                                        <br>
                                        <br>
                                        <input id="removeAccountInp" type="text" name="username" class="inputUpdate"
                                            placeholder="example: slow response" />
                                        <div id="errorpasssss" class="alert alert-success col-12 mt-2 mb-0"
                                            role="alert">
                                            Hey you also can inactivate your account &#128512;
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/auth/delAccount" class="btn btn-danger">Remove</a>
                                        <a href="/auth/inActive" class="btn btn-success">Inactivate</a>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
                <div class="row cont">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Articles</p>
                            <a href="/articles/myArticle" id="Articles" class="col-12 text-center">My Article
                            </a>
                            <% if(data.role==='admin' ){ %>
                                <p>Admin</p>
                                <a href="/admin" id="Articles" class="col-12 text-center">User Table
                                </a>
                                <% } else {%>
                                    <p>Role</p>
                                    <a href="" class="col-12 text-center">
                                        <%= data.role %>
                                    </a><br />
                                    <a href="" class="col-12 text-center">
                                        <%= data.status %>
                                    </a>
                                    <% } %>
                                        <p>Favorite Articles</p>
                                        <a class="col-12 text-center">Sherlock: The Final Problem</a><br />
                                        <a class="col-12 text-center">Sherlock: The Great Game</a><br />
                                        <a class="col-12 text-center">Sherlock: The Reichenbach Fall</a><br />
                                        <a class="col-12 text-center">Sherlock: His Last Vow</a><br />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <input id="username" type="text" name="username"
                                                value="<%= data.username %>" required disabled readonly
                                                class="inputUpdate" />
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <input id="email" type="email" name="email" value="<%= data.email %>"
                                                required disabled readonly class="inputUpdate" />
                                        </p>
                                    </div>
                                </div>
                                <div class="row genderDiv">
                                    <div class="col-md-6">
                                        <label>Gender</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select name="gender" id="gender" disabled readonly class="inputUpdate">
                                                <% if(data.gender==='none' ){ %>
                                                    <option id="genderOptional" value="none">Gender
                                                        <small>(optional)</small>
                                                    </option>
                                                    <option value="female">female</option>
                                                    <option value="male">male</option>
                                                    <% } else if (data.gender==='male' ) { %>
                                                        <option value="male">male</option>
                                                        <option value="female">female</option>
                                                        <option id="genderOptional" value="none">Gender
                                                            <small>(optional)</small>
                                                        </option>
                                                        <% } else if (data.gender==='female' ) { %>
                                                            <option value="female">female</option>
                                                            <option value="male">male</option>
                                                            <option id="genderOptional" value="none">Gender
                                                                <small>(optional)</small>
                                                            </option>
                                                            <% } %>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <input id="phone" type="text" name="phone" value="<%= data.phone %>"
                                                required disabled readonly class="inputUpdate" />
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>First Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <input id="firstName" type="text" name="firstName"
                                                value="<%= data.firstName %>" required disabled readonly
                                                class="inputUpdate" />
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Last Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <input id="lastName" type="text" name="lastName"
                                                value="<%= data.lastName %>" required disabled readonly
                                                class="inputUpdate" />
                                        </p>
                                    </div>
                                </div>
                                <div class="row btnUpdatesCancel d-none">

                                    <button id="password" class=" btnShow col-md-2" data-toggle="modal"
                                        data-target="#exampleModal">
                                        Password
                                    </button>
                                    <button id="update" class=" btnShow col-md-2">
                                        Update
                                    </button>
                                    <button id="cancel" class=" btnShow col-md-2">
                                        Cancel
                                    </button>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br />
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>




        <!-- Modal for change password -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        <div class="col-md-12">
                            <span class="col-12 h6 p-0m-0 text-center">
                                Old Password
                            </span>
                            <p class="col-12 mt-2">
                                <input id="oldPass" type="password" name="oldPass" required disabled readonly
                                    class="inputUpdate" />
                            </p>
                        </div>

                        <br>

                        <div class="col-md-12">
                            <span class="col-12 h6 p-0m-0 text-center">
                                New Password
                            </span>
                            <p class="col-12 mt-2">
                                <input id="newPass" type="password" name="newPass" required disabled readonly
                                    class="inputUpdate" />
                            </p>
                        </div>

                        <br>

                        <div class="col-md-12">
                            <span class="col-12 h6 p-0m-0 text-center">
                                Confirm Password
                            </span>
                            <p class="col-12 mt-2">
                                <input id="confPass" type="password" name="confPass" required disabled readonly
                                    class="inputUpdate" />
                            </p>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button id="updatePass" type="" class="col-12 btnShow">
                            Save
                        </button>
                        <br>
                        <div id="errorpass" class="alert alert-danger d-none col-12" role="alert">
                        </div>
                        <div id="successpass" class="alert alert-success d-none col-12" role="alert">
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="toast" style="position: absolute; top: 20px; right: 20px;">
            <div class="toast-header">
                <strong class="mr-auto">Message</strong>
                <button id="toastBtn" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">

            </div>
        </div>
        <%- include('./common/scripts.ejs') %>
            <script src="/script/dashboard.js"></script>
</body>

</html>