<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../common/header.ejs', {Document: "Articles" }) %>
    <link rel="stylesheet" href="/style/articles.css">

</head>

<body class="">

  <%- include('../common/navbar.ejs') %>

    <% for( let i=0; i < 1; i++ ) { %>
      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark row m-5 p-4 mt-3">
        <div class="col-6 col-md-6 px-0">
          <h1>
            MOST POPULAR ARTICLE
          </h1>
          <h2 class="display-4 fst-italic">
            <%= topArticle[i].title %>
          </h2>
          <p class="lead my-3">
            <%= topArticle[i].description %>
          </p>
          <p>
            written by <%= topArticle[i].author.username %>
          </p>
          <p class="lead mb-0"><a href="/articles/<%= topArticle[i]._id%>" class="text-white fw-bold">Continue
              reading...</a></p>
        </div>
        <div class="col-6 d-flex justify-content-center ">
          <img class="topImg" src="/images/article/<%= topArticle[i].image %> " alt="top article">
        </div>
      </div>
      <% } %>


      <div class="search-box m-3 ms-5">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Type to Search...">
      </div>

        <div class="border-container  pillar-container">
          <ul class="card-list row justify-content-center" id="list">

          </ul>
        </div>

        <section class="pagination" cl aria-label="Page navigation example ">
          <ul class="pagination justify-content-center " id="pagination">

          </ul>
        </section>





        <%- include('../common/scripts.ejs') %>
          <script src="/script/articles.js"></script>
</body>

</html>