<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/header.ejs', {Document: "Articles" }) %>
        <link rel="stylesheet" href="/style/article.css">
</head>

<body>
    <%- include('../common/navbar.ejs') %>


        <div class="container col-12">

            <img src="/images/article/<%= data.image %> " class="img-fluid col-12" style="max-height:400px;" alt="Responsive image">

            <div class="row justify-content-start align-content-center no-wrap p-3 col-12" >

                <div class="col-12 col-md-12">
                    <p class="text-success head col-12 m-1 p-2">TITLE</p>
                    <p class=" p-2 oneArticleData">
                        <%= data.title %>
                    </p>
                    <p class="text-success head col-12 m-1 p-2">DESCRIPTION</p> 
                    <p class=" p-2 oneArticleData">
                        <%= data.description %>
                    </p>
                    <p class="text-success head col-12 m-1 p-2">AUTHOR</p> 
                    <p class=" p-2 oneArticleData">
                       <%= data.author.username %>
                    </p>
                </div>
            </div>

            <div class="p-2 mt-2 content" id="content">
                <%= data.content %>
            </div>

        </div>


        <%- include('../common/scripts.ejs') %>
            <script src="/script/article.js"></script>
</body>

</html>