<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/header.ejs', {Document: "Articles" }) %>
        <link rel="stylesheet" href="/style/articles.css">
</head>

<body>
    <%- include('../common/navbar.ejs') %>
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark m-3">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                    efficiently about what's most interesting in this post's contents.</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
        </div>
        <ul class="card-list">
            <% for( let i=0; i < data.length; i++ ) { %>
                <div class="blog-card col-9 col-md-6 col-xl-5 m-3">
                    <div class="meta">
                        <div class="photo" style="background-image: url(/images/article/<%=data[i].image %>) ">
                        </div>
                        <ul class="details">
                            <li class="author">
                                <%= data[i].author.username %>
                            </li>
                            <li class="date">
                                <%= data[i].title %>
                            </li>
                        </ul>
                    </div>
                    <div class="description">
                        <h1>
                            <%= data[i].title %>
                        </h1>
                        <h2>Category: any</h2>
                        <p>
                            <%= data[i].description %>
                        </p>
                        <p class="read-more">
                            <a href="articles/<%= data[i]._id%>">Read More</a>
                        </p>
                    </div>
                </div>
                <% } %>
        </ul>
        <%- include('../common/scripts.ejs') %>
            <script src="/script/articles.js"></script>
</body>

</html>