<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/header.ejs', {Document: "My Articles" }) %>
        <link rel="stylesheet" href="/style/articles.css">
        <link rel="stylesheet" href="/style/myArticles.css">
</head>

<body class="px-5">
    <%- include('../common/navbar.ejs') %>

        <ul class="card-list row justify-content-center">
            <% for( let i=0; i < data.length; i++ ) { %>
                <div class="blog-card <%= data[i]._id %>">
                    <div class="meta">
                        <div class="photo" style="background-image: url(/images/article/<%=data[i].image %>) ">
                        </div>
                        <ul class="details">
                            <li class="author">
                                <%= data[i].author.username %>
                            </li>
                            <li class="date data<%=i    %> ">
                                <%= data[i].createdAt %>
                            </li>
                        </ul>
                    </div>
                    <div class="description">
                        <h1>
                            <%= data[i].title %>
                        </h1>
                        <h2>Category: any</h2>
                        <p class="col-12 ">
                            <%= data[i].description %>
                        </p>
                        <p class="read-more mt-4 d-flex justify-content-around  align-items-between">
                            <a class=" mx-2 upRE"
                                href="/articles/updateArticle/<%= data[i]._id%>">Update</a>
                            <a class=" removeArticle mx-2 upRE"
                                articleid="<%= data[i]._id%>">Remove</a>
                            <a class=" d-flex align-items-center readMore"
                                href="http://localhost:3000/articles/<%= data[i]._id%>">Read More</a>

                        </p>

                    </div>
                </div>
                <% } %>
        </ul>
        <div class="lineDown mb-5"></div>
        <div class="col-12 row justify-content-center">
            <a class="button-37 btn ms-5 col-1 mb-5" href="/articles/setup">
                Add Article
            </a>
        </div>
        <%- include('../common/scripts.ejs') %>
            <script src="/script/MyArticles.js"></script>
</body>

</html>