<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/header.ejs', {Document: "Articles" }) %>
        <link rel="stylesheet" href="/style/articles.css">
</head>

<body>
    <%- include('../common/navbar.ejs') %>
        <ul class="card-list">
            <% for( let i=0; i < data.length; i++ ) { %>
                <div class="blog-card col-9 col-md-6 col-xl-5 m-3 <%= data[i]._id %>">
                    <div class="meta">
                        <div class="photo" style="background-image: url(/images/article/<%=data[i].image %>) ">
                        </div>
                        <ul class="details">
                            <li class="author">
                                <%= data[i].author.username %>
                            </li>
                            <li class="date">
                                <%= data[i].title %>
                            </li>
                        </ul>
                    </div>
                    <div class="description">
                        <h1>
                            <%= data[i].title %>
                        </h1>
                        <h2>Category: any</h2>
                        <p>
                            <%= data[i].description %>
                        </p>
                        <p class="read-more">
                            <a href="http://localhost:3000/articles/<%= data[i]._id%>">Read More</a>
                        </p>
                        <p class="">
                            <a class="btn btn-primary " href="/articles/updateArticle/<%= data[i]._id%>">Update</a>
                            <button class="btn btn-primary removeArticle" articleid="<%= data[i]._id%>">Remove</button>
                        </p>

                    </div>
                </div>
                <% } %>
        </ul>
        <a class="btn btn-primary" href="/articles/setup">
            add article
        </a>
        <%- include('../common/scripts.ejs') %>
            <script src="/script/MyArticles.js"></script>
</body>

</html>